# Project 5: Working with Pandas and SQL Databases (Movies Dataset)

# Project Brief for Self-Coders

Here you´ll have the opportunity to code major parts of Project 5 on your own. If you need any help or inspiration, have a look at the Videos or the Jupyter Notebook with the full code. <br> <br>
Keep in mind that it´s all about __getting the right results/conclusions__. It´s not about finding the identical code. Things can be coded in many different ways. Even if you come to the same conclusions, it´s very unlikely that we have the very same code.

## Creating an SQLite Database

1. __Import__ sqlite3 (as sq3) and __create__ a new SQLite Database with the name __"movies.db"__.

In [1]:
import sqlite3 as sq3
con = sq3.connect("movies.db")

## Loading Data from DataFrames into an SQLite Database

2. __Load__ the json file __"some_movies.json"__ and __split__ the dataset into the following __four datasets__ (save each dataset in a Pandas DataFrame).

__Dataset #1 (Movies)__ with columns ["id", "title", "revenue", "budget", "belongs_to_collection_name", "release_date"]. <br>
Convert "release_date" to datetime and transform "budget" and "revenue" to Million USD before loading into the Database.

__Dataset #2 (Votes)__ with columns ["id", "vote_count", "vote_average"].

__Dataset #3 (Genres)__ with columns ["genre_id", "genre_name", "id"]. <br>

__Dataset #4 (Prod)__ with columns ["comp_id", "comp_logo_path", "comp_name", "comp_origin_country", "id" ]. <br>

In [6]:
import pandas as pd
import json

with open("some_movies.json") as f:
    data = json.load(f)

df = pd.json_normalize(data, sep = "_")

movies = df[["id", "title", "revenue", "budget", "belongs_to_collection_name", "release_date"]].copy()
votes = df[["id", "vote_count", "vote_average"]].copy()
genres = pd.json_normalize(data = data, record_path = "genres", meta = "id", record_prefix = "genre_")
prod = pd.json_normalize(data = data, record_path = "production_companies", meta = "id", record_prefix = "comp_")

In [ ]:
movies.release_date = pd.to_datetime(df.release_date)
movies.revenue = df.revenue/1000000
movies.budget = df.budget/1000000

3. __Load__ the datasets __into the database__ (each dataset should be a separate table in the database). __Name__ the tables "Movies", "Votes", "Genres", "Prod".

In [8]:
movies.to_sql("Movies1", con, index = False)
votes.to_sql("Votes1", con, index = False)
genres.to_sql("Genres1", con, index = False)
prod.to_sql("Prod1", con, index = False)

## Loading Data from SQLite Databases into DataFrames

4. __Load__ the full tables "Movies", "Votes", "Genres", "Prod" from "movies.db" into Pandas (four DataFrames). __Set__ "id" as Index.

##  Some Simple SQL Queries

5. __Perform__ the following simple __SQL Queries__ and __store__ the results in DataFrames:

__Load the full "Movies" Table__.

__Load the columns "id", "revenue" and "release_date" from "Movies".__

__Get the Total Revenue (sum) over all movies from "Movies".__

__Count the number of Movies in "Movies".__

__Count the number of Movies that do belong to a collection.__

__Get the average budget from "Movies"__.

## Some more SQL Queries

6. __Perform__ the following advanced __SQL Queries__ and __store__ the results in DataFrames:

__Load all columns for the movie with movie id 597__.

__Load all columns for all movies with a revenue greater than 2000 (MUSD).__

__Load all columns for all movies with a revenue greater than 1500 (MUSD) and a budget below 200 (MUSD).__

__Get the minimum budget from those movies with a revenue greater than 1250 (MUSD).__

__Get all unique collection Names from "Movies".__

__Load all movies (all columns) and sort by budget from high to low.__

__Load all movies (all columns) that do not belong to a collection.__

__Load all movies (all columns) that belong to a collection.__

__Load all movies (all columns) where "Avengers..." is in the title__.

## Join Queries

7. __Perform__ the following __SQL Join Queries__ and __store__ the results in DataFrames:

__Join "Movies" and "Votes"__ (all columns).

__Join "Movies" and "Votes" (only the columns "id", "title", "vote_average").__

__Join "Movies" and "Votes" (only the columns "id", "title", "vote_average") and return only those movies with vote_average > 8.__

__Join "Movies" and "Votes" (only the columns "id", "title", "vote_average") and return only those movies with vote_average > 8 and in ascending budget order__.

## Final Case Study

8. __Perform__ the following advanced __SQL Queries__ and __store__ the results in DataFrames:

__Get the Total Revenue (sum) for each Production Company.__

__Get all Production Companies for the movie "Titanic".__

__Get the Total Revenue (sum) for each Genre.__

__Get all Genres for the movie "Frozen II".__

# +++++++++ See some Hints below +++++++++++++

# ++++++++++++++++ Hints++++++++++++++++++++

__Hints for 1.__<br>
You can do this with sq3.connect("database_name.db")

__Hints for 2.__ <br>
You have to use pd.json_normalize(data = ..., record_path = ..., meta = ..., record_prefix = ... ) for Datasets #3 and #4

__Hints for 3.__<br>
You can do this with:

In [ ]:
con = sq3.connect("movies.db")
df.to_sql("Table Name", con, index = False)

__Hints for 4.__<br>
You can do this with:

In [ ]:
con = sq3.connect("movies.db")
pd.read_sql("SELECT * FROM Table Name", con, index_col = ...)

__Hints for 5., 6., 7., 8.__<br>
You can do this with:

In [ ]:
con = sq3.connect("movies.db")
df = pd.read_sql("insert the sql query here", con)